USE [master]
GO
/****** Object:  Database [HISTORIAN]    Script Date: 04.10.2025 15:23:40 ******/
CREATE DATABASE [HISTORIAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HISTORIAN', FILENAME = N'HISTORIAN.mdf' , SIZE = 30464KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'HISTORIAN_log', FILENAME = N'HISTORIAN_log.ldf' , SIZE = 1280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HISTORIAN].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [HISTORIAN]
GO
/****** Object:  User [tmcstel]    Script Date: 04.10.2025 15:23:40 ******/
CREATE USER [tmcstel] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [historian]    Script Date: 04.10.2025 15:23:40 ******/
CREATE USER [historian] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tmcstel]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tmcstel]
GO
ALTER ROLE [db_owner] ADD MEMBER [historian]
GO
ALTER ROLE [db_datareader] ADD MEMBER [historian]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [historian]
GO
/****** Object:  Table [dbo].[alarm_log]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alarm_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sCategory] [int] NOT NULL,
	[sName] [nvarchar](100) NOT NULL,
	[sTag] [nvarchar](100) NOT NULL,
	[sDesc] [nvarchar](100) NULL,
	[sDate] [datetime] NULL,
	[sDateOn] [datetime] NULL,
	[sDateOff] [datetime] NULL,
	[sAckDate] [datetime] NULL,
	[sDelta] [nvarchar](50) NULL,
	[sState] [nvarchar](50) NULL,
	[sComment] [nvarchar](100) NULL,
	[created] [datetime] NOT NULL,
	[sEquipment] [nvarchar](100) NULL,
	[sUser] [nvarchar](100) NULL,
 CONSTRAINT [PK_alarm_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Historian]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[View_Historian]
AS
SELECT TOP (100) PERCENT id, sName, sTag, sDesc, sEquipment, sUser, sDate, sDateOn, sDateOff, sAckDate, sDelta, sComment, sState
FROM     dbo.alarm_log WITH (NOLOCK)


GO
/****** Object:  UserDefinedFunction [dbo].[AlarmLogView]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[AlarmLogView] 
(	
	@sName nvarchar(max),
	@sDate datetime
)
RETURNS TABLE 
AS
RETURN
(
  SELECT TOP 1000 sName as Name, sDesc as Description, sDate as Date,sDateOn as DateOn,sDateOff as DateOff,sAckDate as AckDate,sDelta as Delta FROM [TMCSTEL].[dbo].[alarm_log] 
  where CAST([sDate] as DATE) = (CASE WHEN @sDate = '' THEN CAST([sDate] as DATE) ELSE @sDate END ) AND
  [sName] LIKE '%' + (CASE WHEN @sName IS NOT NULL THEN @sName ELSE '' END )+ '%'
  
  ORDER BY sDate DESC
)
GO
/****** Object:  Table [dbo].[alarm_cat]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alarm_cat](
	[cat_id] [int] NOT NULL,
	[cat_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_alarm_cat] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditRecord]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditRecord](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DateOcurred] [datetime] NOT NULL,
	[DateInsert] [datetime] NOT NULL,
	[Cluster] [varchar](16) NULL,
	[Equipment] [varchar](254) NULL,
	[Item] [varchar](63) NULL,
	[Tag] [varchar](79) NULL,
	[Message] [nvarchar](254) NOT NULL,
	[User] [varchar](16) NOT NULL,
	[Comment] [nvarchar](254) NULL,
	[Value] [varchar](20) NOT NULL,
	[Locality] [varchar](50) NOT NULL,
	[AlarmState] [varchar](20) NULL,
	[AuditType] [tinyint] NOT NULL,
 CONSTRAINT [PK_AuditRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cmd_log]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmd_log](
	[id] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Locality] [int] NULL,
	[Nr] [int] NULL,
	[Cmd] [nvarchar](50) NULL,
 CONSTRAINT [PK_cmd_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hierarchy]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hierarchy](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Cluster] [varchar](16) NULL,
	[Equipment] [varchar](254) NULL,
	[Item] [varchar](63) NULL,
 CONSTRAINT [PK_Hierarchy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[Datum] [datetime] NOT NULL,
	[UserPC] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [I_Unique_Hierarchy]    Script Date: 04.10.2025 15:23:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [I_Unique_Hierarchy] ON [dbo].[Hierarchy]
(
	[Cluster] ASC,
	[Equipment] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alarm_log] ADD  CONSTRAINT [DF_alarm_log_created]  DEFAULT (getutcdate()) FOR [created]
GO
ALTER TABLE [dbo].[AuditRecord] ADD  DEFAULT ((0)) FOR [AuditType]
GO
/****** Object:  StoredProcedure [dbo].[InsertAuditRecord_StoredProcedure]    Script Date: 04.10.2025 15:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertAuditRecord_StoredProcedure]
	-- Add the parameters for the stored procedure here
	@auditType tinyint = 0, 
	@dateOcurred datetime = NULL, 
	@cluster varchar(16) = NULL,
	@equipment varchar(254) = NULL,
	@item varchar(63) = NULL,
	@tag varchar(79) = NULL,
	@message nvarchar(254) = NULL,
	@user varchar(16) = NULL,
	@comment nvarchar(254) = NULL,
	@value varchar(20) = NULL,
	@alarmState varchar(20) = NULL,
	@locality varchar(50) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @dateOcurred = ISNULL(@dateOcurred, GETDATE());

	IF (LTRIM(RTRIM(@cluster)) = '')
	BEGIN
		SET @cluster = NULL
	END
	IF (LTRIM(RTRIM(@equipment)) = '')
	BEGIN
		SET @equipment = NULL
	END
	IF (LTRIM(RTRIM(@item)) = '')
	BEGIN
		SET @item = NULL
	END
	IF (LTRIM(RTRIM(@tag)) = '')
	BEGIN
		SET @tag = NULL
	END
	IF (LTRIM(RTRIM(@message)) = '')
	BEGIN
		SET @message = NULL
	END
	IF (LTRIM(RTRIM(@user)) = '')
	BEGIN
		SET @user = NULL
	END
	IF (LTRIM(RTRIM(@comment)) = '')
	BEGIN
		SET @comment = NULL
	END
	IF (LTRIM(RTRIM(@value)) = '')
	BEGIN
		SET @value = NULL
	END
	IF (LTRIM(RTRIM(@alarmState)) = '')
	BEGIN
		SET @alarmState = NULL
	END
	IF (LTRIM(RTRIM(@locality)) = '')
	BEGIN
		SET @locality = NULL
	END
	IF (LTRIM(RTRIM(@equipment)) = '')
	BEGIN
		SET @equipment = NULL
	END
	

	if((@equipment IS NULL AND @cluster IS NOT NULL)
		OR (@equipment IS NOT NULL AND @cluster IS NULL))
		BEGIN	
			PRINT('Parameters equipment and cluster must both defined or empty.');
			THROW 50000, N'Parameters equipment and cluster must both defined or empty.', 1
		END

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AuditRecord]
			   ([AuditType]
			   ,[DateOcurred]
			   ,[DateInsert]
			   ,[Cluster]
			   ,[Equipment]
			   ,[Item]
			   ,[Tag]
			   ,[Message]
			   ,[User]
			   ,[Comment]
			   ,[Value]
			   ,[AlarmState]
			   ,[Locality]
			   )
		 VALUES
			   (@auditType
			   ,@dateOcurred
			   ,GetDate()
			   ,@cluster
			   ,@equipment
			   ,@item
			   ,@tag
			   ,@message
			   ,@user
			   ,@comment
			   ,@value
			   ,@alarmState
			   ,@locality
			)

    if @item IS NOT NULL
    BEGIN
        begin try
            INSERT INTO [dbo].[Hierarchy] ([Cluster],[Equipment],[Item]) VALUES (@cluster, @equipment, @item);
        end try

        begin catch
            DECLARE @ErrorMessage NVARCHAR(4000);
            DECLARE @ErrorSeverity INT;
            DECLARE @ErrorState INT;

            SELECT
                @ErrorMessage = ERROR_MESSAGE(),
                @ErrorSeverity = ERROR_SEVERITY(),
                @ErrorState = ERROR_STATE();

            -- Msg 2601: Cannot insert duplicate key row in object '<Object Name>' with unique index '<Index Name>'.
            if ERROR_NUMBER() <> 2601
                RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        end catch
    END
END

GO
USE [master]
GO
